.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: ghostwhite; */
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.main {
  margin-left: calc(10% + 36px);
  margin-right: calc(10% + 36px);
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter > div {
  margin-right: 30px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search input {
  border: none;
  border-bottom: 2px solid brown;
  padding: 3px;
}

input[type="text"]:focus {
  outline: none !important;
  /* border: 1px solid lightcoral;
  border-radius: 8px; */
  border-bottom: 2px solid black;
}

.search-icon {
  cursor: pointer;
}

.restaurant-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.top-rated {
  padding: 6px;
  border-radius: 10px;
  background-color: lavenderblush;
  font-weight: 600;
  color: crimson;
  border: none;
  font-size: smaller;
}

.restaurant-card a {
  text-decoration: none;
}
