.restaurant-item {
  max-width: 220px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 15px;
  transition: transform 0.2s;
  flex: 25%;
}

.restaurant-item:hover {
  transform: scale(0.95);
}

.restaurant-item > img {
  width: 100%;
  height: 170px;
  border-radius: 15px;
  object-fit: cover;
}

.cuisine {
  font-weight: 300;
  color: slategray;
}

.name,
.rating {
  font-weight: 600;
  color: darkslategrey;
  font-size: 1.1rem;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}
